body {
    /*width: 2500px !important;*/
}

#id_tbl {
    width: 800px;
    font-family: "Times New Roman";
    border: 0px;
    margin: auto;
    font-size: 14px;
    color: #000 !important;
    text-align: center;
}

#id_tb1 {
    width: 800px;
    border: 0.8pt solid #000;
    margin: auto;
    font-size: 14px;
    text-align: center;
}

#id_tb1 td {
    border: 0.8pt solid #000;
    padding: 5px;
    width: 50px;
}

#id_tb1 tr {
   border: 0.8pt solid #000;
}

#id_tb1 th {

    border: 0.8pt solid #000;
    padding: 5px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #E4E4E4;
    color: black;
    padding: 2px 6px 2px 6px;
    font-size: 16px;
    border: 1px solid #B7B7B7;
    border-radius: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 19px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #7c7bad;
    text-decoration: none;
    color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #7c7bad;
    color: #fff;
}

#customers {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.header{
   display: none;
}
#oe_main_menu_navbar{
    display: none;
}